<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Summer Giphy</title>
  <link rel="stylesheet" href="./styles/main.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>

<body>
  <div id="app">
    <header></header>
    <nav>
      <a href="#" class="nav-link" data-page="home">Trending</a> |
      <a href="#" class="nav-link" data-page="upload">Upload</a> |
      <a href="#" class="nav-link" data-page="favorites">Favorites</a>|
      <a href="#" class="nav-link" data-page="uploaded">Uploaded</a>
      <input type="text" id="search" placeholder="Enter your search">
      <button id="searchButton">Search</button>
      
    </nav>
    <div id="container">
      <!-- start placeholders -->

      <!-- end placeholders -->
    </div>

    <footer>
     
    <section>
            <h3>Hover over the circle below</h3>
    </section>
    <div class="footer">
      <div id="button"></div>
    <div id="container">
    <div id="cont">
    <div class="footer_center">
<h3>Summer Giphy developed by Stanislava, Valentin and Dilyan.</h3>
    </div>
    </div>
    </div>
    </div>
  </footer>
  </div>

  <!-- app -->
  <script src="./src/index.js" type="module"></script>
  <!-- end app -->
</body>

</html>